<li class="my-2 w-100">
  Name: <%= user.name %>
  <span class="profile-link my-2">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link btn btn-outline-success mx-1' %>
    <%= show_btn(user) %>
    <%if  available_users?(user) %>
      <%= user %>
     <%= add_request(user)%>    
    <% end %>
  </span>
</li>